<h1>Welcome to Angular Routing!</h1>
<p class="subtitle">Homework 5</p>

<div class="block">
  <h5>Задание 1</h5>
  <p>Создайте приложение, в котором будет находиться три функциональные области:
    Home – отображение приветственного сообщения
    Products – работа со список продуктов
    Admin – управления продуктами (в данной версии приложения вывести сообщение, о том, что это главная страница админ
    части приложения)</p>
  <p>В app.component создайте меню из трех пунктов и настройте маршрутизацию таки образом, чтобы переход по ссылке
    направлял пользователя на соответствующий компонент, относящийся к его функциональной области.</p>
</div>

<div class="block">
  <h5>Задание 2</h5>
  <p>В приложении, созданном в первом задание, реализуйте шаблон Master/Details. Используйте сервис из предыдущего урока,
    для того чтобы получить доступ к списку продуктов (по необходимости модифицируйте сервис). В главном компоненте
    отображайте только названия продуктов, при клике по продукту, перенаправляйте пользователя на компонент, который будет
    показывать детали выбранного продукта.</p>
</div>

<div class="block">
  <h5>Задание 3 <span>( см.  <b>component <em>probucts</em></b> метод <b><em>redirectToProductDetails()</em></b> )</span></h5>
  <p>Проведите рефакторинг кода задания 2 и примените дочерние маршруты для отображения деталей выбранного продукта.
    Детали отображайте под списком всех продуктов в одном представлении.</p>
</div>
